@model CandidaturaEmais.Models.MarcacaoDuvidas

@{
    ViewData["Title"] = "Detalhes";
    ViewData["Subtitle"] = "Marcação Dúvidas";

    ViewData["Edit"] = "Alterar";

    ViewData["Go Back"] = "Voltar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@ViewData["Subtitle"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora.HoraId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MarcacaoDuvidasId">@ViewData["Edit"]</a> |
    <a asp-action="Index">@ViewData["Go Back"]</a>
</div>
