@model CandidaturaEmais.Models.PFC

@{
    ViewData["Title"] = "Detalhes";
    ViewData["Subtitle"] = "PFC";

    ViewData["Edit"] = "Alterar";

    ViewData["Go Back"] = "Voltar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@ViewData["Subtitle"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropostaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropostaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PFCId">@ViewData["Edit"]</a> |
    <a asp-action="Index">@ViewData["Go Back"]</a>
</div>
