@model CandidaturaEmais.Models.PFC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PFC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropostaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropostaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PFCId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
