@model IEnumerable<CandidaturaEmais.Models.PFC>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropostaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropostaUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PFCId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PFCId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PFCId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
