@model IEnumerable<CandidaturaEmais.Models.Inquerito>

@{
    ViewData["Title"] = "Inquéritos";

    ViewData["Create"] = "Novo Inquérito";
    ViewData["Edit"] = "Alterar";
    ViewData["Details"] = "Detalhes";
    ViewData["Delete"] = "Eliminar";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">
        <img src="~/img/iconfinder_button-add_sticker_68486.png" />
        @ViewData["Create"]
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InqueritoId">
                    <img class="icon-action-table" src="~/img/iconfinder_pencil_sticker_68596.png" />
                </a> |
                <a asp-action="Details" asp-route-id="@item.InqueritoId">
                    <img class="icon-action-table" src="~/img/iconfinder_document_sticker_68525.png" />
                </a> |
                <a asp-action="Delete" asp-route-id="@item.InqueritoId">
                    <img class="icon-action-table" src="~/img/iconfinder_bin_sticker_68480.png" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
