@model CandidaturaEmais.Models.MensagemConversa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MensagemConversa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilizadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilizadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.utilizador2Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.utilizador2Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MensagemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
